<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nebula CMS playground</title>
  </head>
  <body>
    <h1>Nebula CMS</h1>
    <a href="/nebula">Nebula Admin Page</a>
  </body>
</html>
