---
import collections from 'virtual:collections';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>nebula-cms playground</title>
  </head>
  <body>
    <h1>nebula-cms playground</h1>
    <ul>
      {
        Object.entries(collections).map(([name, url]) => (
          <li data-collection={name}>
            <a href={url}>
              {name}: {url}
            </a>
          </li>
        ))
      }
    </ul>
  </body>
</html>
