---
import Admin from 'nebula-cms/client';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>nebula-cms playground</title>
  </head>
  <body>
    <Admin config={{ basePath: '/' }} client:only="svelte" />
  </body>
</html>
